<!-- 헤더 -->
<header>
  <div class="inner">
    <div class="logoBox">
      <a class="logoTitle" href="/"
        ><img src="/static/img/logo/b_logo.png" alt="로고" />
        <span>오늘은 뭐 먹지?</span></a
      >
      <div id="gnb">
        <!-- 로그인시  태그변경 -->
      </div>
    </div>
    <div class="headMenu">
      <div class="backMove">
        <a href="#" onClick="history.back()"
          ><img src="../../static/img/icons/ArrowLeft2.png" alt=""
        /></a>
      </div>
      <div class="title">
        <h3></h3>
      </div>
    </div>
  </div>
</header>
