<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Error</title>
    <!-- css 초기화 -->
    <link rel="stylesheet" href="/static/css/resset.css" />
    <!-- common CSS -->
    <link rel="stylesheet" href="/static/css/common.css.css" />
    <!-- index CSS -->
    <link rel="stylesheet" href="/static/css/404.css" />

    <!-- Js -->
    <script src="/static/js/search.js" defer></script>
  </head>
  <body>
    <div class="content">
      <img src="/static/img/utli/404.gif" alt="404" />
      <p>페이지가 존재하지 않습니다.</p>
      <div>
        <a href="/">홈으로 이동</a>
      </div>
    </div>
    <div style="clear: both"></div>
  </body>
</html>
