<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>오늘은 뭐 먹지?</title>
    <!-- css 초기화 -->
    <link rel="stylesheet" href="/static/css/resset.css" />
    <!-- common CSS -->
    <link rel="stylesheet" href="/static/css/common.css" />
    <!-- index CSS -->
    <link rel="stylesheet" href="/static/css/favarites.css" />
    <!-- pagination CSS -->
    <link rel="stylesheet" href="/static/css/pagination.css" />

    
    <!-- Js -->
    <script src="/static/js/search.js" defer></script>
  </head>
  <body>
    <header>
      <div class="inner">
        <div class="logoBox">
          <a class="logoTitle" href="/"
            ><img src="/static/img/logo/b_logo.png" alt="로고" />
            <span>오늘은 뭐 먹지?</span></a
          >
          <div class="gnb">
            <!-- 로그인시  태그변경 -->
            <% if(!true){ %>
            <a href="/users/login">내정보</a>
            <a href="/users/login">로그아웃</a>
            <%}else{%>
            <a href="/users/login">로그인</a>
            <a href="/users/login">회원가입</a>
            <%} %>
          </div>
        </div>
        <div class="headMenu">
          <div class="backMove">
            <a href="/"
              ><img src="/static/img/icons/ArrowLeft2.png" alt=""
            /></a>
          </div>
          <div class="title">
            <h3>뒤로가기</h3>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="bestTitle">
        <h2>나의 북마크</h2>
      </div>
      <div class="container">
        <div class="item">
          <a href="/" >
            <div class="thumbnail">
              <img src="/static/img//demo/1.jpg" alt="" />
            </div>
            <div class="description">
              <h3 class="title">200마리씩 파는 강서구 배달 1등 닭볶음탕 전문점 레시피</h3>
              <p class="creator">1분요리 뚝딱이형</p>
              <p class="subtitle">지난번 시장에서 산 닭으로 닭볶음탕을 만들어 보았어요. 어렵지 않으니 맛있게 만들어보세요! =====================닭볶음탕 [재료] 토막 닭고기 1마리(10호)
                물 3컵(540ml)대파 2대(200g)청양고추 3개(30g)홍고추 2개(20g)새 송이버섯 2개(120g)표고버섯 2개(40g)당근 1/3개(90g)양파 1개(250g)감자 2개(400g)간 마
                늘 1큰술(15g)굵은 고춧 가루 1/2컵(40g)고운 고춧가루 1큰술(6g)진간장 4/5컵(144ml)황설탕 3큰술(36g) 후춧가루 약간</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="/" >
            <div class="thumbnail">
              <img src="/static/img//demo/1.jpg" alt="" />
            </div>
            <div class="description">
              <h3 class="title">200마리씩 파는 강서구 배달 1등 닭볶음탕 전문점 레시피</h3>
              <p class="creator">1분요리 뚝딱이형</p>
              <p class="subtitle">지난번 시장에서 산 닭으로 닭볶음탕을 만들어 보았어요. 어렵지 않으니 맛있게 만들어보세요! =====================닭볶음탕 [재료] 토막 닭고기 1마리(10호)
                물 3컵(540ml)대파 2대(200g)청양고추 3개(30g)홍고추 2개(20g)새 송이버섯 2개(120g)표고버섯 2개(40g)당근 1/3개(90g)양파 1개(250g)감자 2개(400g)간 마
                늘 1큰술(15g)굵은 고춧 가루 1/2컵(40g)고운 고춧가루 1큰술(6g)진간장 4/5컵(144ml)황설탕 3큰술(36g) 후춧가루 약간</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="/" >
            <div class="thumbnail">
              <img src="/static/img//demo/1.jpg" alt="" />
            </div>
            <div class="description">
              <h3 class="title">200마리씩 파는 강서구 배달 1등 닭볶음탕 전문점 레시피</h3>
              <p class="creator">1분요리 뚝딱이형</p>
              <p class="subtitle">지난번 시장에서 산 닭으로 닭볶음탕을 만들어 보았어요. 어렵지 않으니 맛있게 만들어보세요! =====================닭볶음탕 [재료] 토막 닭고기 1마리(10호)
                물 3컵(540ml)대파 2대(200g)청양고추 3개(30g)홍고추 2개(20g)새 송이버섯 2개(120g)표고버섯 2개(40g)당근 1/3개(90g)양파 1개(250g)감자 2개(400g)간 마
                늘 1큰술(15g)굵은 고춧 가루 1/2컵(40g)고운 고춧가루 1큰술(6g)진간장 4/5컵(144ml)황설탕 3큰술(36g) 후춧가루 약간</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="/" >
            <div class="thumbnail">
              <img src="/static/img//demo/1.jpg" alt="" />
            </div>
            <div class="description">
              <h3 class="title">200마리씩 파는 강서구 배달 1등 닭볶음탕 전문점 레시피</h3>
              <p class="creator">1분요리 뚝딱이형</p>
              <p class="subtitle">지난번 시장에서 산 닭으로 닭볶음탕을 만들어 보았어요. 어렵지 않으니 맛있게 만들어보세요! =====================닭볶음탕 [재료] 토막 닭고기 1마리(10호)
                물 3컵(540ml)대파 2대(200g)청양고추 3개(30g)홍고추 2개(20g)새 송이버섯 2개(120g)표고버섯 2개(40g)당근 1/3개(90g)양파 1개(250g)감자 2개(400g)간 마
                늘 1큰술(15g)굵은 고춧 가루 1/2컵(40g)고운 고춧가루 1큰술(6g)진간장 4/5컵(144ml)황설탕 3큰술(36g) 후춧가루 약간</p>
            </div>
          </a>
        </div>

       
      </div>
    <footer>
      <p>Copyright 2024. Team 2TheCode All rights reserved.</p>
    </footer>
    <div class="mgnb">
      <div class="menubox">
        <div class="menu">
          <a href="/"><img src="/static/img/icons/Home.png" alt="홈버튼" /></a>
        </div>
        <div class="menu">
          <a href="/favorites"
            ><img src="/static/img/icons/Heart.png" alt="즐겨찾기"
          /></a>
        </div>
        <div class="menu">
          <!-- 로그인시  태그변경 -->
          <% if(!true){ %>
          <a href="users/login"
            ><img src="/static/img/icons/Login.png" alt="로그인"
          /></a>
          <%}else{%>
          <a href="users/logout"
            ><img src="/static/img/icons/Profile.png" alt="프로필"
          /></a>
          <%} %>
        </div>
      </div>
    </div>
    <script>
      function test() {
        axios({
          method: "get",
          url: "/",
          data: {},
        })
          .then((res) => {})
          .catch((err) => {
            console.log();
          });
      }
    </script>
  </body>
</html>
