<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- jquery CDN -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <!-- googlrFont -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <!-- css -->
    <link rel="stylesheet" href="/static/css/login.css" />
    <title>로그인</title>

    <!-- js -->
    <script src="/static/js/login.js" defer></script>
  </head>
  <body>
    <!-- 모바일 메인화면 -->
    <div class="back mobile1">
      <div class="container" onclick="con()">
        <img src="/static/img/logo/w_logo.png" alt="logo" />
        <p class="p1">오늘 뭐 먹지?</p>
        <p class="p2">매번 드는 고민! 해결</p>
      </div>
    </div>

    <header>
      <a href="#" onClick="history.back()" class="mobile">
        <img src="/static/img/icons/Arrow - Left.png" alt="arrow" />
      </a>
      <p class="logo mobile">로그인</p>
      <!-- 웹 -->
      <a href="/" class="web logoA">
        <img src="/static/img/logo/b_logo.png" alt="logo" class="logoImg" />
        <span>오늘은 뭐 먹지?</span>
      </a>
      <div class="menu web">
        <a href="/users/login">로그인</a>
        <a href="/users/register">회원가입</a>
      </div>
    </header>

    <div class="con">
      <div class="loginDiv">
        <form name="loginForm">
          <input
            type="text"
            name="userId"
            class="userId"
            placeholder="  아이디"
            required
          />
          <br />
          <input
            type="password"
            name="userPw"
            class="userPw"
            placeholder="  비밀번호"
            required
          />
          <br />
          <label for="checkbox">
            <input type="checkbox" name="autoLogin" checked />
            자동 로그인
          </label>
          <br />
          <button type="button" onclick="login()" class="loginB">로그인</button>
          <br />
          <button
            type="button"
            class="registerB"
            onclick="location.href='/users/register'"
          >
            회원가입
          </button>
        </form>
      </div>
    </div>

    <footer class="web">
      <p>Copyright 2024. Team 2TheCode All rights reserved.</p>
    </footer>

    <script>
      function login() {
        const form = document.forms["loginForm"];
        console.log("form.userId", form.userId.value);
        console.log("form.userPw", form.userPw.value);
        // 유효성 검사
        if (form.userId.value.length === 0 || form.userPw.value.length === 0) {
          alert("아이디와 비밀번호를 입력해주세요");
          return;
        }

        //Ajax
        $.ajax({
          type: "post",
          url: "/users/login",
          data: {
            userId: form.userId.value,
            userPw: form.userPw.value,
            autoLogin: form.autoLogin.checked,
          },
          success: function (res) {
            if (res.success) {
              console.log("Token :", res.token);
              localStorage.setItem("authToken", res.token);
              document.location.href = "/";
            } else {
              alert("로그인 실패 :" + res.message);
            }
          },
          error: function (error) {
            console.log(error);
          },
        });
      }

      //메인
      function con() {
        const back = document.querySelector(".back");

        back.classList.add("ani");
      }
    </script>
  </body>
</html>
