<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    main

    <a href="/users/register">register</a>
    <a href="/users/login">login</a>
    <a href="/users">users</a>
    <a href="/users/edit">usersedit</a>
    <a href="/search">search</a>
    <a href="/detail">detail</a>
    <a href="/favorites">favorites</a>
    <a href="/loading">loading</a>
  </body>
</html>
