@font-face {
  font-family: "SUIT-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  /* 링크에 대한 설정 */
  text-decoration: none;
  color: #000;
}

body {
  font-family: "SUIT-Regular";
}
