/* 에디트 보더 */
.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
  border-color: #cecece !important;
}

/* 모바일 우선 */

/* 헤더 */
header {
  width: 100%;
  padding: 0px 1.3rem;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 50px;
}

/* 로고 */
header > .inner > .logoBox {
  display: none;
  width: 100%;
}

/* PC메뉴 가리기 */
header > .inner > .logoBox > .gnb {
  display: none;
}

header > .inner > .logoBox > .logoTitle > img {
  width: 40px;
}

header > .inner > .logoBox > .logoTitle {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-content);
}

/* PC 로그인/회원가입 */
header > .inner > .logoBox > .gnb > a {
  margin-left: 10px;
}

/* 검색 */
header > .inner > .searchBox {
  position: relative;
  width: 100%;
}

header > .inner > .searchBox input {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  border: 2px solid var(--color-brand);
  border-radius: 10px;
  margin-top: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

/* 아이콘 */
header > .inner > .searchBox .searchIcon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

/* 모바일 뒤로가기 */
header > .inner > .headMenu {
  width: 100%;
  height: 48px;
  line-height: 48px;
}

header > .inner > .headMenu > .backMove {
  width: 48px;
  position: absolute;
}

header > .inner > .headMenu > .title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.main .container .description {
  margin-top: 10px;
}

main .container .description .recipeHead {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

/* 북마크 아이콘 */
.bookmarkButton-off i {
  color: #333; /* 기본 아이콘 색상 */
  transition: color 0.3s ease;
  margin-right: 2px;
}

.bookmarkButton-on i {
  color: red;
  animation: heartBeat 0.3s;
  margin-right: 2px;
}

/* 하트 튀어오르게끔 스케일조정*/
@keyframes heartBeat {
  0% {
    transform: scale(0.8);
  }
  70% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

/* 북마크 */
main .container .description .bookmarkButton-off {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  background-color: var(--color-boder);
  border: none;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

main .container .description .bookmarkButton-on {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  background-color: var(--color-brand);
  border: none;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

main .container .description .bookmarkButton-off:active i {
}

/* 메인 */
main {
  padding: 0px 1.3rem;
  margin-top: 40px;
  margin-bottom: 150px;
}

/* 인기 레시피 타이틀 */
main > .bestTitle {
  display: flex;
  justify-content: space-between;
}

main > .bestTitle > h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

main > .bestTitle > a {
  font-size: 0.8rem;
}

/* 레시피 컨텐츠 */
main > .container {
  width: 100%;
  margin-top: 20px;
}

main > .container .item .thumbnail {
  width: 100%;
  height: 100%;
}

main > .container .item iframe {
  width: 100%;
  height: 100%;
  min-height: 400px;
  border-radius: 10px;
}

/* 메인 컨텐츠 폰트 */
main > .container .item {
  width: 100%;
}

main > .container .item .title {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  /* 크기를 초과하면 ... 표시 */
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 30px;
  box-sizing: border-box;
  margin: 0px;
}

main > .container .item .subtitle {
  width: 100%;
  font-size: 1rem;
  color: #000;
  cursor: pointer;
  line-height: 1.3rem;
  margin-top: 10px;
  margin-bottom: 0px;
  overflow: hidden;
}

main > .container .item .subtitle-on {
  height: auto;
  max-height: none;
}

main > .container .item .subtitle-off {
  max-height: 110px;
}

main > .container .item .moreLine {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

main > .container .item .moreLine p {
  width: 80px;
  flex-shrink: 0;
  text-align: center;
  margin: 0px;
}

main > .container .item .moreLine div {
  width: 100%;
  height: 1px;
  background-color: var(--color-boder);
}

main > .container .item .creator {
  width: 250px;
  margin-top: 10px;
  padding: 0px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-subtitle);
  cursor: pointer;
  /* 크기를 초과하면 ... 표시 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main > .memoBox > .memoItem {
  margin: 30px 0px;
}

main > .memoBox > .memoItem .btnClose {
  width: auto;
}

main > .memoBox > .memoItem > .title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

main > .memoBox > .memoItem .ingredientTextarea {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  border-color: #a0a0a0;
  resize: none;
  overflow-y: scroll;
}

main > .memoBox > .memoItem .ingredientTextarea:focus {
  outline: none;
}

main > .memoBox > .memoItem .RecipeTextarea {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  border-color: #a0a0a0;
  resize: none;
  overflow-y: scroll;
}

main > .memoBox > .memoItem .RecipeTextarea:focus {
  outline: none;
}

main > .memoBox > .memoItem .ingForm-Open {
  display: none;
}

main > .memoBox > .memoItem .ingForm {
  display: block;
}

main > .memoBox > .memoItem .rcpForm-Open {
  display: none;
}

main > .memoBox > .memoItem .rcpForm {
  display: block;
}

main > .memoBox > .memoItem .memoButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

main > .memoBox > .memoItem > .delAllMemo {
  margin-top: -40px;
}

/* 로그인 알림창 */
main > .memoBox > .loginAlert-On {
  position: absolute;
  width: 300px;
  height: 250px;
  left: 50%;
  padding: 20px;
  box-sizing: border-box;
  transform: translateX(-50%);
  border: 1px solid var(--color-boder);
  background-color: white;
  z-index: 2;
  text-align: center;
  border-radius: 5px;
}

main > .memoBox > .loginAlert-Off {
  display: none;
}

main > .memoBox > .memoItem.blur {
  filter: blur(5px); /* 블러 처리 */
  pointer-events: none; /* 클릭 및 포커스 비활성화 */
}

main > .memoBox > .loginAlert-On > .buttonBox a {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
}

/* footer PC만 노출 */
footer {
  display: none;
}

/* 모바일 메뉴 */
.mgnb {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0px;
  background-color: #fff;
  border-top: 1px solid #e4e4e4;
}

.mgnb > .menubox {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-around;
}

/* 작은 태블릿 이상 */
@media (min-width: 600px) {
  header {
    padding: 0px 2.4rem;
  }

  header > .inner > .logoBox > .logoTitle {
    justify-content: center;
  }

  header > .inner > .searchBox {
    width: 500px;
    margin: 0 auto;
  }

  /* 메인 */
  main > .bestTitle {
    justify-content: center;
  }
}

/* 태블릿 이상 */
@media (min-width: 768px) {
  header {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    box-sizing: border-box;
  }

  /* 로고 */
  header > .inner > .logoBox {
    display: block;
    width: 100%;
  }

  header::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0px;
    border-bottom: 1px solid var(--color-boder);
  }

  header > .inner {
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
  }

  /* 로고 */
  header > .inner > .logoBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  /* PC메뉴 노출시킴 */
  header > .inner > .logoBox > .gnb {
    display: block;
  }

  /* 모바일 뒤로가기 */
  header > .inner > .headMenu {
    display: none;
  }

  /* PC 로그인/회원가입 */
  header > .inner > .logoBox .gnb a:last-child {
    margin-left: 10px;
  }

  header > .inner > .logoBox > .logoTitle {
    justify-content: left;
  }

  header > .inner > .logoBox > .logoTitle > img {
    width: 40px;
  }

  header > .inner > .logoBox > .logoTitle {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-content);
  }

  /* 검색 */
  header > .inner > .searchBox {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  /* 레시피 컨텐츠 */
  main > .container {
    margin-top: 40px;
  }

  /* 컨텐츠 제목, 크리에이터 */
  main > .container .item .title {
    font-size: 1.2rem;
  }

  main > .container .item .thumbnail {
    width: 100%;
  }

  main > .container .item iframe {
    width: 100%;
    height: 100%;
    min-height: 500px;
  }

  footer {
    display: block;
    width: 100%;
    height: 80px;
    border-top: 1px solid var(--color-boder);
    color: var(--color-subtitle);
    margin-top: 100px;
    line-height: 80px;
    text-align: center;
  }

  footer p {
    color: var(--color-subtitle);
  }

  /* 모바일 지우기 */
  .mgnb {
    display: none;
  }
}

/* 데스크탑 이상 */
@media (min-width: 1024px) {
  header {
    width: 100%;
    margin: 0 auto;
  }

  header > .inner > .logoBox {
    margin-top: 20px;
  }

  header > .inner > .logoBox > .logoTitle {
    justify-content: center;
  }

  main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    box-sizing: border-box;
  }

  /* 메인 */
  main > .bestTitle {
    justify-content: center;
  }

  main > .container .item .thumbnail {
    width: 100%;
  }

  main > .container .item iframe {
    width: 100%;
    height: 100%;
    min-height: 700px;
  }
  footer {
    width: 100%;
    height: 100px;
    margin-top: 100px;
    border-top: 1px solid var(--color-boder);
    text-align: center;
    line-height: 100px;
  }
  footer > p {
    color: var(--color-subtitle);
  }
}
