@font-face {
  font-family: "SUIT-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  /* 링크에 대한 설정 */
  text-decoration: none;
  color: #000;
}

body {
  font-family: "SUIT-Regular";
}

:root {
  /* color */
  --color-brand: #ff8675;
  --color-boder: #cecece;
  --color-content: #000;
  --color-subtitle: #747474;
}

img {
  width: 100%;
}

/* 모바일 우선 */

/* 헤더 */
header {
  width: 100%;
  padding: 0px 1.3rem;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 50px;
}

/* 로고 */
header > .inner > .logoBox {
  width: 100%;
}

/* PC메뉴 가리기 */
header > .inner > .logoBox > .gnb {
  display: none;
}

header > .inner > .logoBox > .logoTitle > img {
  width: 40px;
}

header > .inner > .logoBox > .logoTitle {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-content);
}

/* PC 로그인/회원가입 */
header > .inner > .logoBox > .gnb a:last-child {
  margin-left: 10px;
}

/* 검색 */
header > .inner > .searchBox {
  position: relative;
  width: 100%;
}

header > .inner > .searchBox input {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  border: 2px solid var(--color-brand);
  border-radius: 10px;
  margin-top: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

/* 아이콘 */
header > .inner > .searchBox .searchIcon {
  position: absolute;
  right: 10px;
  top: 20px;
  cursor: pointer;
}

/* 검색 추천 */
header .recDish {
  text-align: center;
}

header .recDish button {
  display: inline-block;
  margin: 10px 5px;
  background: none;
  border: none;
  cursor: pointer;
}

/* 메인 */
main {
  padding: 0px 1.3rem;
  margin-top: 40px;
}

/* 인기 레시피 타이틀 */
main > .bestTitle {
  display: flex;
  justify-content: space-between;
}

main > .bestTitle > h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

main > .bestTitle > a {
  font-size: 0.8rem;
}

/* 레시피 컨텐츠 */
main > .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열, 각각 동일한 너비 */
  gap: 12px; /* 아이템 간의 간격 */
  width: 100%;
  margin-top: 20px;
}

main > .container .item .thumbnail {
  width: 100%;
}

main > .container .item .thumbnail > img {
  border-radius: 10px;
}

/* 메인 컨텐츠 폰트 */
main > .container .item {
  width: 100%;
  overflow: hidden; /* 넘치는 요소 숨김 */
}

main > .container .item .title {
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
  /* 크기를 초과하면 ... 표시 */
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main > .container .item .creator {
  width: 100px;
  margin-top: 10px;
  font-size: 0.8rem;
  color: var(--color-subtitle);
  cursor: pointer;
  /* 크기를 초과하면 ... 표시 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* footer PC만 노출 */
footer {
  display: none;
}

/* 모바일 메뉴 */
.mgnb {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0px;
  background-color: #fff;
  border-top: 1px solid #e4e4e4;
  z-index: 2;
}

.mgnb > .menubox {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-around;
}

/* 라운드 팝업 */
.roundPopup {
  width: 300px;
  height: 60px;
  border-radius: 20px;
  background-color: var(--color-brand);
  position: fixed;
  left: 50%;
  bottom: -60px;
  /* bottom: 80px; */
  transform: translateX(-50%);
  box-sizing: border-box;
  text-align: center;
  transition: all 1.5s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 1;
}

.roundPopupBG {
  position: fixed;
  bottom: -400px;
  left: 0px;
  width: 100%;
  height: 400px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: all 1s;
}

.roundPopup > .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roundPopup > .content > p {
  display: inline-block;
  color: #fff;
  line-height: 20px;
}

.roundPopup > .content > p > .register {
  font-weight: bold;
  color: #fff;
  margin-right: 5px;
}

/* 작은 태블릿 이상 */
@media (min-width: 600px) {
  header {
    padding: 0px 2.4rem;
  }

  header > .inner > .logoBox > .logoTitle {
    justify-content: center;
  }

  header > .inner > .searchBox {
    width: 500px;
    margin: 0 auto;
  }

  /* 메인 */
  main > .bestTitle {
    justify-content: center;
  }

  main > .container {
    grid-template-columns: repeat(3, 1fr); /* 2열, 각각 동일한 너비 */
    gap: 20px;
  }
}

/* 태블릿 이상 */
@media (min-width: 768px) {
  header {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    box-sizing: border-box;
  }

  header::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0px;
    border-bottom: 1px solid var(--color-boder);
  }

  header > .inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  header > .inner.search {
    margin-top: 70px;
  }

  /* 로고 */
  header > .inner > .logoBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  /* PC메뉴 노출시킴 */
  header > .inner > .logoBox > .gnb {
    display: block;
  }

  /* PC 로그인/회원가입 */
  header > .inner > .logoBox > .gnb a:last-child {
    margin-left: 10px;
  }

  header > .inner > .logoBox > .logoTitle {
    justify-content: left;
  }

  header > .inner > .logoBox > .logoTitle > img {
    width: 40px;
  }

  header > .inner > .logoBox > .logoTitle {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-content);
  }

  /* 검색 */
  header > .inner > .searchBox {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  /* 레시피 컨텐츠 */
  main > .container {
    margin-top: 40px;
  }

  /* 컨텐츠 제목, 크리에이터 */
  main > .container .item .title {
    font-size: 1.2rem;
  }

  main > .container .item .creator {
    width: 150px;
    font-size: 1rem;
  }

  footer {
    display: block;
    width: 100%;
    height: 80px;
    border-top: 1px solid var(--color-boder);
    color: var(--color-subtitle);
    margin-top: 100px;
    line-height: 80px;
    text-align: center;
  }

  footer p {
    color: var(--color-subtitle);
  }

  /* 모바일 지우기 */
  .mgnb {
    display: none;
  }
}

/* 데스크탑 이상 */
@media (min-width: 1024px) {
  header {
    width: 100%;
    margin: 0 auto;
  }

  header > .inner > .logoBox {
    margin-top: 20px;
  }

  header > .inner > .logoBox > .logoTitle {
    justify-content: center;
  }

  main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    box-sizing: border-box;
  }

  /* 메인 */
  main > .bestTitle {
    justify-content: center;
  }

  main > .container {
    grid-template-columns: repeat(3, 1fr); /* 2열, 각각 동일한 너비 */
    gap: 30px;
  }

  footer {
    width: 100%;
    height: 100px;
    margin-top: 100px;
    border-top: 1px solid var(--color-boder);
    text-align: center;
    line-height: 100px;
  }
  footer > p {
    color: var(--color-subtitle);
  }
}
