main > .pageBox {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 100px;
}

main > .pageBox > .pagination {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 60px;
}

main > .pageBox .page-item {
  display: inline-block;
  width: 100px;
  margin: 0px 20px;
}

main > .pageBox .page-item a {
  display: flex;
  justify-content: center;
  align-items: center;
}

main > .pageBox .page-item img {
  width: 40px;
}

main > .pageBox .page-item span {
  width: 40px;
}

.pagination .atv {
  background-color: var(--color-brand);
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  color: #fff;
}
.pagination .atv a {
  background-color: var(--color-brand);
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  color: #fff;
}
