* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", serif;
}

/* 모바일 none */
.web {
  display: none;
}

/* 헤더 */

header {
  width: 100vw;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
header > .logo {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  font-family: "Noto Sans KR", serif;
  position: relative;
  right: 20px;
}
header > a {
  position: relative;
  left: 20px;
}

/* 메인 */
.con {
  width: 100vw;
  height: 600px;
  position: relative;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.userBox {
  width: 353px;
  /* border: 1px solid green; */
}
.userBox1 {
  width: 150px;
  height: 150px;
  /* border: 1px solid blue; */
  text-align: center;
  margin: 0 auto;
}
.userPic {
  width: 100px;
  height: 100px;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50px;
}
.userPic > img {
  width: 100px;
  height: 100px;
}

.userP > .userId {
  font-size: 18px;
  font-weight: 700;
}
.userP > .userName {
  font-size: 16px;
}

.userBox2 {
  padding: 0;
  margin-top: 30px;
  width: 353px;
  /* border: 1px solid yellow; */
}

.box2 {
  width: 353px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #cecece;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.box2 > a {
  display: flex;
  align-items: center;
}

.box2 span {
  font-size: 16px;
  position: absolute;
  left: 20px;
}

.box2img {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
}

.mMenu {
  width: 100vw;
  height: 60px;
  position: fixed;
  bottom: 0px;
}

.Menu {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid #eaeaea;
}

/*  웹 */
@media (min-width: 1024px) {
  .mobile {
    display: none;
  }
  .web {
    display: block;
  }

  /* 헤더 */

  header {
    width: 100vw;
    height: 80px;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    margin: 0;
  }

  /* 메인 */
  .con {
    width: 100vw;
    height: 100vh;
    position: relative;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobileTitle {
    width: 64px;
    height: 24px;
    position: relative;
    left: 150px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .logoA {
    position: absolute;
    left: 165px;
    text-decoration-line: none;
  }
  .logoA > span {
    font-size: 20px;
    font-weight: 700;
    color: black;
    position: relative;
    bottom: 10px;
  }

  .logoImg {
    width: 27px;
    height: 40px;
  }
  .menu {
    position: absolute;
    right: 165px;
  }
  .menu a {
    color: black;
    text-decoration-line: none;
  }

  .userBox1 {
    width: 353px;
    height: 140px;
    border: 1px solid #cecece;
    border-radius: 5px;
    display: flex;
    text-align: left;
  }

  .userPic {
    margin: 20px;
  }
  .userP {
    margin: 47px 0;
  }

  footer {
    width: 100vw;
    height: 80px;
    text-align: center;
    border-top: 1px solid #eaeaea;
    position: relative;
    display: flex;
    align-content: center;
  }
  footer > p {
    font-size: 16px;
    color: #747474;
  }
}
