* {
  margin: 0;
  padding: 0;
}

/* 메인 */
.regiDiv {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 110px;
  box-sizing: border-box;
}

form {
  width: 355px;
  height: 700px;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}

form > .pwP {
  font-size: 14px;
  color: rgba(160, 160, 160, 1);
  margin-bottom: 10px;
  width: 350px;
}

input {
  font-size: 16px;
  margin-bottom: 10px;
  text-indent: 10px;
  box-sizing: border-box;
}

.userId {
  width: 262px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-right: 10px;
}

.userId2 {
  width: 353px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: #cecece;
  box-sizing: border-box;
}
/*프로필 사진*/
.profileSection {
  text-align: center;
  margin-bottom: 20px;
  width: 353px;
  box-sizing: border-box;
}
.profileP > .pId {
  font-size: 22px;
  font-weight: 900;
}

.profileImg {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  /* 추가 */
  margin-bottom: 10px;
}

.userProfileB {
  width: 353px;
  height: 53px;
  /* 버튼는 크기를 +2  */
  background-color: white;
  color: black;
  font-weight: 700;
  border: 1px solid #cecece;
  /* 인풋 테두리 색다 바꿔 */
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  box-sizing: border-box;
}

.pwBox {
  position: relative;
  width: 353px;
  height: 50ox;
  box-sizing: border-box;
}

.userPw {
  width: 353px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.userName {
  width: 353px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

input[type="date"] {
  width: 353px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 16px;
  box-sizing: border-box;
  color: rgba(160, 160, 160, 1);
  text-indent: 3px;
  padding-right: 10px;
}

.registerB {
  width: 353px;
  height: 50px;
  border-radius: 5px;
  background-color: #ff8675;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  box-sizing: border-box;
}

/* 모바일 none */
.web {
  display: none;
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
  .web {
    display: block;
  }

  .mobileTitle {
    width: 100%;
    height: 24px;
    position: relative;
    font-size: 20px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }

  /* 추가 */
  .regiDiv {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
  }
}

/* 웹 */

@media (min-width: 1024px) {
  .mobileTitle {
    width: 100%;
    height: 24px;
    position: relative;
    font-size: 20px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }
}
