* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", serif;
}

/* 모바일 none */
.web {
  display: none;
}

/* 헤더 */

header {
  width: 100vw;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
header > .logo {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  font-family: "Noto Sans KR", serif;
  position: relative;
  right: 25px;
}
header > a {
  position: relative;
}

/* 메인 */
.con {
  width: 100vw;
  height: 600px;
  position: relative;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.userBox {
  width: 353px;
  /* border: 1px solid green; */
}
.userBox1 {
  width: 150px;
  height: 150px;
  /* border: 1px solid blue; */
  text-align: center;
  margin: 0 auto;
}
.userPic {
  width: 100px;
  height: 100px;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50px;
}
.userPic > img {
  width: 100px;
  height: 100px;
}

.userP > .userId {
  font-size: 18px;
  font-weight: 700;
}
.userP > .userName {
  font-size: 16px;
}

.userBox2 {
  padding: 0;
  margin-top: 30px;
  width: 353px;
  /* border: 1px solid yellow; */
}

.box2 {
  width: 353px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #cecece;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.box2 > a {
  display: flex;
  align-items: center;
}

.box2 span {
  font-size: 16px;
  position: absolute;
  left: 20px;
}

.box2img {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
}

.mMenu {
  width: 100vw;
  height: 60px;
  position: fixed;
  bottom: 0px;
  background-color: #fff;
  border-top: 1px solid #e4e4e4;
}

.Menu {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-around;
}
