* {
  margin: 0;
  padding: 0;
}

/* 메인 */
.con {
  width: 100%;
  height: 100%;
  position: relative;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  /* 추가 */
  margin-top: 50px;
  margin-bottom: 300px;
  box-sizing: border-box;
}

.userBox {
  width: 353px;
}
.userBox1 {
  width: 353px;
  text-align: center;
  position: relative;
}
.userPic {
  width: 150px;
  height: 150px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}
.userPic > img {
  width: 150px;
  height: 150px;
}

.userP > .userPId {
  width: 353px;
  height: 20px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}
.userP > .userPName {
  width: 353px;
  height: 20px;
  font-size: 16px;
}

.userBox2 {
  padding: 0;
  margin-top: 30px;
  width: 353px;
  /* border: 1px solid yellow; */
}

.box2 {
  width: 353px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #cecece;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  box-sizing: border-box;
}
.box2A {
  display: flex;
  align-items: center;
}

.box2 span {
  font-size: 16px;
  position: absolute;
  left: 20px;
}

.box2img {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

/* 모바일 none */
.web {
  display: none;
}

@media (min-width: 768px) {
  .web {
    display: block;
  }

  /* 메인 */
  .con {
    width: 100%;
    height: 300%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 160px;
    box-sizing: border-box;
  }

  .mobileTitle {
    width: 100%;
    height: 24px;
    position: relative;
    font-size: 20px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }

  .userBox1 {
    width: 353px;
    border: 1px solid #cecece;
    border-radius: 5px;
    display: flex;
    text-align: left;
  }

  .userPic {
    margin: 20px;
    width: 150px;
    height: 150px;
  }
  .userP {
    margin: 65px 0;
  }

  .userP > .userPId {
    width: 150px;
    height: 20px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
  }
  .userP > .userPName {
    width: 150px;
    height: 20px;
    font-size: 16px;
  }
}

/*  웹 */
@media (min-width: 1024px) {
  .web {
    display: block;
  }

  /* 메인 */
  .con {
    width: 100%;
    height: 300%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 160px;
    box-sizing: border-box;
  }

  .mobileTitle {
    width: 100%;
    height: 24px;
    position: relative;
    font-size: 20px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }

  .userBox1 {
    width: 353px;
    border: 1px solid #cecece;
    border-radius: 5px;
    display: flex;
    text-align: left;
  }

  .userPic {
    margin: 20px;
    width: 150px;
    height: 150px;
  }
  .userP {
    margin: 65px 0;
  }

  .userP > .userPId {
    width: 150px;
    height: 20px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
  }
  .userP > .userPName {
    width: 150px;
    height: 20px;
    font-size: 16px;
  }
}
