* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", serif;
}
/* 헤더 */
header {
  width: 100vw;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
header > .logo {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
}

header > a.mobile {
  position: relative;
  left: 20px;
}

a.mobile > img {
  width: 48px;
  height: 48px;
}

/* 메인 */
/* 추가 */
.regiDiv {
  width: 100vw;
  /* height: 100vh; */
  height: 700px;
  /* position: relative; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 추가! */
form {
  width: 400px;
  height: 700px;
  position: absolute;
}

form > p {
  font-size: 14px;
  color: rgba(160, 160, 160, 1);
  margin-bottom: 10px;
}

input {
  font-size: 16px;
  margin-bottom: 10px;
}

.userId {
  width: 262px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-right: 10px;
}

.userId2 {
  width: 353px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-right: 10px;
  background-color: #cecece;
}
/*프로필 사진*/
.profileSection {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
  /* 추가 */
  width: 353px;
  margin-bottom: 10px;
}

.profileImg {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  /* 추가 */
  border: 1px solid black;
}
.dynamic {
  display: flex;
  align-items: center;
  /* 추가 */
  margin-bottom: 10px;
}

.userProfileB {
  width: 100px;
  height: 50px;
  background-color: #ff8675;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  right: 50px;
}

.pwBox {
  position: relative;
  width: 353px;
  height: 50ox;
}
.pwBox span {
  position: absolute;
  left: 310px;
  top: 15px;
}

span > img {
  width: 20px;
  height: 20px;
}

.userPw {
  width: 353px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.userName {
  width: 353px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.Birth {
  width: 353px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid lightgray;
  color: rgba(160, 160, 160, 1);
}

.registerB {
  width: 353px;
  height: 50px;
  border-radius: 5px;
  background-color: #ff8675;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* 모바일 none */
.web {
  display: none;
}

/* 웹 */

@media (min-width: 1024px) {
  .mobile {
    display: none;
  }
  .web {
    display: block;
  }

  header {
    width: 100vw;
    height: 80px;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    /* margin: 0; */
    margin-bottom: 50px;
  }

  .logoA {
    position: absolute;
    left: 165px;
    text-decoration-line: none;
  }
  .logoA > span {
    font-size: 20px;
    font-weight: 700;
    color: black;
    position: relative;
    bottom: 10px;
  }

  .logoImg {
    width: 27px;
    height: 40px;
  }

  .menu {
    position: absolute;
    right: 165px;
  }
  .menu a {
    color: black;
    text-decoration-line: none;
  }

  footer {
    width: 100vw;
    height: 80px;
    text-align: center;
    border-top: 1px solid #eaeaea;
    /* position: relative; */
    position: relative;
    display: flex;
    align-content: center;
    bottom: 0px;
  }
  footer > p {
    font-size: 16px;
    color: #747474;
  }

  /* 전 */
  /* .regiDiv {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  /* 추가 */
  /* main {
    width: 100vw;
    height: 100vh;
    position: relative;
  } */
  /* 추가 */
  .regiDiv {
    width: 100vw;
    /* height: 100vh; */
    height: 700px;
    /* position: relative; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    /* 추가 */
    margin-bottom: 200px;
  }
  /* 추가! */
  form {
    width: 400px;
    height: 700px;
    position: absolute;
  }
}
